<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715255030749-r7vgjganbb8rn9jr78kqd8pbue6rrfvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715255030749-r7vgjganbb8rn9jr78kqd8pbue6rrfvh</string>
	<key>API_KEY</key>
	<string>AIzaSyD9v18UqGKJLlu7YSrTWbjAVz9Elc0tcmE</string>
	<key>GCM_SENDER_ID</key>
	<string>715255030749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-push-app-5280e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-push-app-5280e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715255030749:ios:7159293985d7d9708ccc34</string>
</dict>
</plist>